<ul ngbNav [destroyOnHide]="false" #nav="ngbNav" class="nav-tabs nav-fill">
    <li [ngbNavItem]="0">
        <a id="requestPageTabLink" ngbNavLink>Get Reset-Token</a>
        <ng-template ngbNavContent>
            <app-identity-get-reset-token></app-identity-get-reset-token>
        </ng-template>
    </li>

    <li [ngbNavItem]="1">
        <a id="resetPageTabLink" ngbNavLink>Set new Password</a>
        <ng-template ngbNavContent>
            <app-identity-set-new-password></app-identity-set-new-password>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div>