<form [formGroup]="formModel" #resetForm='ngForm' autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
    <input id="resetTokenInput" class="form-control my-3" formControlName="resetToken" placeholder="Reset-Token">
    <label id="resetTokenInputRequiredError" class="text-danger" *ngIf="formModel.get('resetToken')?.touched && formModel.get('resetToken')?.errors?.['required']">This field is mandatory.</label>
  </div>
  <div class="form-group required">
    <input id="resetEmailInput" class="form-control my-3" formControlName="resetEmail" placeholder="Email">
    <label id="resetEmailInputRequiredError" class="text-danger" *ngIf="formModel.get('resetEmail')?.touched && formModel.get('resetEmail')?.errors?.['required']">This field is mandatory.</label>
    <label id="resetEmailInputEmailError" class="text-danger" *ngIf="formModel.get('resetEmail')?.touched && formModel.get('resetEmail')?.errors?.['email']">Invalid email address.</label>
  </div>
  <div formGroupName="passwords">
    <div class="form-group required">
      <input id="newPasswordInput" type="password" class="form-control my-3" formControlName="password" placeholder="New Password">
      <label id="newPasswordInputRequiredError" class="text-danger" *ngIf="formModel.get('passwords.password')?.touched && formModel.get('passwords.password')?.errors?.['required']">This field is mandatory.</label>
      <label id="newPasswordInputMinLengthError" class="text-danger" *ngIf="formModel.get('passwords.password')?.touched && formModel.get('passwords.password')?.errors?.['minlength']">Minimum 6 characters required.</label>
      <label id="newPasswordInputPatternError" class="text-danger" *ngIf="formModel.get('passwords.password')?.touched && formModel.get('passwords.password')?.errors?.['pattern']">Minimum one uppercase, one lowercase, one number and one non alphanumeric character</label>
    </div>
    <div class="form-group required">
      <input id="confirmPasswordInput" type="password" class="form-control my-3" formControlName="confirmPassword"  placeholder="Confirm Password">
      <label id="confirmPasswordInputRequiredError" class="text-danger" *ngIf="formModel.get('passwords.confirmPassword')?.touched && formModel.get('passwords.confirmPassword')?.errors?.['required']">This field is mandatory.</label>
      <label id="confirmPasswordInputMismatchError" class="text-danger" *ngIf="formModel.get('passwords.confirmPassword')?.touched && formModel.get('passwords.confirmPassword')?.errors?.['passwordMismatch']">Confirm Password does not match.</label>
    </div>
  </div>
  <input id="resetFormSubmitButton" class="btn btn-primary my-2" type="submit" value="Change Password" [disabled]="!formModel.valid"/>
</form>