<h2>Create Plant</h2>
<mat-dialog-content class="my-3">
  <div class="container p-0">
    <div class="row" style="min-width: 400px;">
      <div class="col-md-12">
        <form>
          <select class="form-select mt-3" [(ngModel)]="selectedBotanicalName" name="plantTypeSelect">
            <option *ngFor="let plantDataItem of plantData">{{plantDataItem.botanicalName}}</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-primary" mat-button mat-dialog-close=true (click)="onCreate()">Create</button>
  <button class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>