<div class="row">
  <div class="col">
    <h2>Your Plants</h2>
  </div>
  <div class="col" style="-ms-flex: 0 0 62px; flex: 0 0 62px;">
    <div class="btn-group mr-2">
      <button class="btn btn-primary" (click)="startCreate()"><i class="fa-solid fa-plus"></i></button>
    </div>
  </div>
</div>
<hr class="m-0 mt-3">
<div *ngIf="garden && garden.plants && garden.plants.length > 0" class="row">
  <app-plant-list-item *ngFor="let plant of garden.plants" class="col-6" [plant]="plant"></app-plant-list-item>
</div>
<p *ngIf="!garden || !garden.plants || garden.plants.length == 0">You don't have any plants yet</p>